body {
	text-align: center;
	padding: 32px;
}

#text {
	border: 4px solid #ccc;
	border-radius: 8px;
	width: 900px;
	height: 700px;
	max-width: 100%;
	font-size: 20px;
	padding: 16px;
	margin-bottom: 16px;
}
#count {
	font-size: 24px;
}
.alert {
	color: #f66;
}